<h1>Convert <%= @selected_symbol %></h1>

go <a href="/">back.</a>

<ul> 
<% @symbols_keys.each do |this| %>

<li>
  <a href='<%= @selected_symbol + '/' + this%>'><%= p "Convert 1 " + @selected_symbol + ' to ' + this.to_s %></a>

<% end %>
</li>
</ul>

