<h1>Currency pairs</h1>

go <a href="/">back.</a>

<ul> 
<% @symbols_keys.each do |this| %>

<li>
  <a href='<%='/forex/' + this%>'><%= p "Convert 1 " + this.to_s + ' to...' %></a>

<% end %>
</li>
</ul>

