<h1>Convert <%= @first_symbol + " to " + @second_symbol %></h1>

<p>
<%= p ("1 " + @first_symbol.to_s + " equals " + @final_result.to_s + " " + @second_symbol) %>
</p>


Go <a href='/forex/<%= @first_symbol %>'>back.</a>


