<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <%= stylesheet_link_tag "style" %>
    <link colored_link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link colored_link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css">
    <link colored_link rel="stylesheet" href="./styling/index_style.css">
    <title>Hello, world!</title>
    <script type="text/javascript">
        $(document).ready(function() {
    $('#myModal').modal('show');
        });
</script>
  </head>
  <body>

<nav class="d-flex mb-3 bg-dark
 navbar navbar-dark sticky-top">
  <!-- Brand -->
    <div class="p-2 mr-auto">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    </div>
    <!-- Navbar links -->

    </div>
    <div class="p-2">
    <a class="navbar-brand" href="#"><h4>Subscribe</h4></a>
    </div>
    <div class="p-2">
        <div class="col-auto">
          <button type="submit" class="btn mb-2"><h6 style='color: white; margin-top: .5em;'>Click Here</h6></button>
        </div>
    </div>
  </form>
    </div>
    <!-- Toggler/collapsibe Button -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav p-2">
      <li class="nav-item">
        <a class="nav-link blackened"  href="#"><p>Blog</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link blackened" href="#"><p>Courses</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link blackened" href="#"><p>Store</p></a>
      </li>
    </ul>
  </div>
  
</nav>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>

<%= yield %>

<h1>footer</h1>